@font-face {
  font-family: "Galien";
  src: url("../fonts/Galien-Regular.woff2") format("woff2"), url("../fonts/Galien-Regular.woffGilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dotted #000000;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 0%, rgba(152, 195, 232, 0.1) 100%);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 15px 48px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #5a98d0;
  border-radius: 10px;
  white-space: nowrap;
  transition: border 0.5s ease, background-color 0.4s ease, opacity 0.4s ease;
  border: 1px solid transparent;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.button:focus {
  background-color: #1f3f68;
  border: 1px solid #5a98d0;
}
@media only screen and (max-width: 768px) {
  .button {
    padding: 12px 38px;
  }
}
@media only screen and (max-width: 576px) {
  .button {
    padding: 10px 32px;
    font-size: 15px;
  }
}

.site-header {
  padding: 40px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 0%, rgba(152, 195, 232, 0.8) 100%);
  z-index: 10;
}
@media only screen and (max-width: 992px) {
  .site-header {
    padding: 30px 5px;
  }
}
@media only screen and (max-width: 768px) {
  .site-header {
    padding: 20px 5px 0;
    position: static;
    background: transparent;
  }
}
@media only screen and (max-width: 576px) {
  .site-header {
    padding: 10px 5px 0;
  }
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__container .logo__link {
  color: #5a98d0;
  transition: color 0.5s ease;
}
.site-header__container .logo__link:hover {
  color: #1f3f68;
}
.site-header__container .sitenav {
  position: relative;
}
.site-header__container .sitenav__opener {
  position: fixed;
  top: 12px;
  right: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 5px;
  z-index: 15;
  color: #5a98d0;
}
.site-header__container .sitenav__opener:hover {
  color: #1f3f68;
}
@media only screen and (max-width: 768px) {
  .site-header__container .sitenav__opener {
    display: inline;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__container .sitenav__opener {
    top: 30px;
  }
}
.site-header__container .sitenav__closer {
  display: inline;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: left;
  display: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #5a98d0;
}
.site-header__container .sitenav__closer:hover {
  color: #1f3f68;
}
@media only screen and (max-width: 768px) {
  .site-header__container .sitenav__closer {
    display: inline;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__container .sitenav__closer {
    display: inline;
  }
}
.site-header__container .sitenav__list {
  display: flex;
  gap: 32px;
  position: static;
}
@media only screen and (max-width: 768px) {
  .site-header__container .sitenav__list {
    flex-direction: column;
    height: 100vh;
    width: 50%;
    background-color: #1f3f68;
    position: fixed;
    top: -16px;
    padding: 44px 0 0 40px;
    gap: 14px;
    z-index: 100;
    right: -100%;
    transition: 1s ease-out;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__container .sitenav__list {
    width: 65%;
    gap: 22px;
  }
}
.site-header__container .sitenav__link {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #1f3f68;
}
.site-header__container .sitenav__link:hover::after {
  transform: scale(1);
  transform-origin: right;
}
@media only screen and (max-width: 768px) {
  .site-header__container .sitenav__link {
    color: #ffffff;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__container .sitenav__link {
    font-size: 17px;
  }
}
.site-header__container .sitenav__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  bottom: -5px;
  left: 0;
  transition: transform 0.4s ease;
  transform: scale(0);
  transform-origin: left;
}
@media only screen and (max-width: 768px) {
  .site-header__container .sitenav__link::after {
    background-color: #5a98d0;
  }
}

.hero-section {
  position: relative;
  display: flex;
  padding: 40px 0 200px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(152, 195, 232, 0.2) 100%);
}
@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.hero-section-content {
  padding-left: 130px;
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 1200px) {
  .hero-section-content {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section-content {
    text-align: center;
    padding: 0 30px;
  }
}
.hero-section__title {
  line-height: 1.2;
  font-size: 64px;
  font-family: "Galien", serif;
  color: #1f3f68;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .hero-section__title {
    font-size: 54px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section__title {
    font-size: 40px;
  }
}
.hero-section__text {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  max-width: 425px;
  font-weight: 400;
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  .hero-section__text {
    max-width: none;
    font-size: 15px;
  }
}
.hero-section .hero-section-image {
  background: url("../../images/hero-illustration.png") no-repeat center;
  width: 687px;
  height: 579px;
  position: absolute;
  right: 24px;
  background-size: contain;
  bottom: 55px;
}
@media only screen and (max-width: 1200px) {
  .hero-section .hero-section-image {
    max-width: 567px;
    width: 100%;
    height: 100%;
    max-height: 469px;
    bottom: 25%;
  }
}
@media only screen and (max-width: 992px) {
  .hero-section .hero-section-image {
    max-width: 507px;
    width: 100%;
    height: 100%;
    max-height: 409px;
    bottom: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section-image {
    width: 467px;
    height: 469px;
    position: relative;
    max-width: 100%;
    left: 0;
  }
}

.features-section__wrapper {
  padding: 0 130px;
  position: relative;
  margin-top: 192px;
}
@media only screen and (max-width: 1200px) {
  .features-section__wrapper {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 992px) {
  .features-section__wrapper {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .features-section__wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .features-section__wrapper {
    padding: 0 10px;
  }
}
.features-section__title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5%;
  color: #5a98d0;
  font-weight: 600;
  position: absolute;
}
@media only screen and (max-width: 1200px) {
  .features-section__title {
    position: static;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 992px) {
  .features-section__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .features-section__title {
    text-align: center;
    font-size: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .features-section__title {
    font-size: 22px;
  }
}
.features-section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 80px;
}
@media only screen and (max-width: 1200px) {
  .features-section__list {
    padding: 0;
  }
}
@media only screen and (max-width: 992px) {
  .features-section__list {
    justify-content: center;
  }
}
.features-section__item {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
@media only screen and (max-width: 768px) {
  .features-section__item {
    gap: 30px;
  }
}
.features-section .features-card {
  max-width: 380px;
  padding: 48px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.features-section .features-card:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
  .features-section .features-card {
    padding: 36px;
  }
}
@media only screen and (max-width: 576px) {
  .features-section .features-card {
    padding: 24px;
  }
}
.features-section .features-card-image {
  width: 100%;
  text-align: center;
}
.features-section .features-card__img {
  width: 70%;
  height: auto;
}
.features-section .features-card-content {
  line-height: 1.5;
  color: #1f3f68;
  margin-top: 56px;
}
@media only screen and (max-width: 768px) {
  .features-section .features-card-content {
    text-align: center;
  }
}
.features-section .features-card__heading {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .features-section .features-card__heading {
    font-size: 18px;
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .features-section .features-card__heading {
    font-size: 17px;
    margin-bottom: 12px;
  }
}
.features-section .features-card__text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .features-section .features-card__text {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .features-section .features-card__text {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.features-section .features-card__link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #5a98d0;
  line-height: 2;
  font-size: 14px;
  transition: 0.5s ease;
}
.features-section .features-card__link:hover {
  color: #1f3f68;
}
@media only screen and (max-width: 768px) {
  .features-section .features-card__link {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .features-section .features-card__link svg {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.projects-section {
  margin-top: 190px;
}
@media only screen and (max-width: 992px) {
  .projects-section {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .projects-section {
    margin-top: 110px;
  }
}
.projects-section__wrapper {
  padding: 0 130px;
}
@media only screen and (max-width: 1200px) {
  .projects-section__wrapper {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 768px) {
  .projects-section__wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section__wrapper {
    padding: 0 10px;
  }
}
.projects-section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .projects-section-content {
    text-align: center;
    flex-direction: column;
    row-gap: 30px;
  }
}
.projects-section__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  color: #1f3f68;
  max-width: 227px;
}
@media only screen and (max-width: 768px) {
  .projects-section__title {
    max-width: none;
    font-size: 28px;
  }
}
.projects-section__text {
  max-width: 540px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  color: #1f3f68;
  letter-spacing: 5%;
}
@media only screen and (max-width: 768px) {
  .projects-section__text {
    max-width: none;
  }
}
.projects-section .project-finisheds {
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  .projects-section .project-finisheds {
    margin-top: 75px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .project-finisheds {
    margin-top: 50px;
  }
}
.projects-section .project-finisheds__content {
  color: #ffffff;
  font-weight: 400;
}
.projects-section .project-finisheds__heading {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 5%;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .projects-section .project-finisheds__heading {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .projects-section .project-finisheds__heading {
    font-size: 22px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .project-finisheds__heading {
    font-size: 20px;
    font-weight: 500;
  }
}
.projects-section .project-finisheds__text {
  font-size: 16px;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .projects-section .project-finisheds__text {
    font-size: 15px;
  }
}
.projects-section .mini-projects__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .projects-section .mini-projects__wrapper {
    flex-direction: column;
    margin-top: 85px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .mini-projects__wrapper {
    margin-top: 45px;
  }
}
.projects-section .smart-home {
  background: url(../images/smart-home-pr.png) no-repeat center;
  background-size: contain;
  width: 940px;
  max-width: 100%;
  height: 417px;
  max-height: 100%;
  position: relative;
  padding: 48px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.projects-section .smart-home:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 992px) {
  .projects-section .smart-home {
    background-size: cover;
    border-radius: 10px;
    height: 370px;
    width: 900px;
    padding: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .smart-home {
    text-align: center;
    padding: 24px;
    justify-content: center;
  }
}
.projects-section .spark-lite-app {
  background: url(../images/sparklite-app-pr.png) no-repeat center;
  background-size: contain;
  width: 422px;
  max-width: 100%;
  height: 417px;
  padding: 24px 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.projects-section .spark-lite-app:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 992px) {
  .projects-section .spark-lite-app {
    background-size: cover;
    border-radius: 10px;
    height: 370px;
    width: 370px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .spark-lite-app {
    text-align: center;
    padding: 18px 24px;
  }
}
.projects-section .rapetition-app {
  background: url(../images/car-rapetition-app-pr.png) no-repeat center;
  background-size: contain;
  width: 422px;
  max-width: 100%;
  height: 417px;
  padding: 24px 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.projects-section .rapetition-app:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 992px) {
  .projects-section .rapetition-app {
    background-size: cover;
    border-radius: 10px;
    height: 370px;
    width: 370px;
  }
}
@media only screen and (max-width: 576px) {
  .projects-section .rapetition-app {
    text-align: center;
    padding: 18px 24px;
  }
}

.testimonials-section {
  background-color: #5a98d0;
  margin-top: 192px;
  border-radius: 400px 0 0 0;
}
@media only screen and (max-width: 1200px) {
  .testimonials-section {
    border-radius: 300px 0 0 0;
  }
}
@media only screen and (max-width: 992px) {
  .testimonials-section {
    border-radius: 200px 0 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .testimonials-section {
    border-radius: 150px 0 0 0;
  }
}
@media only screen and (max-width: 576px) {
  .testimonials-section {
    border-radius: 70px 0 0 0;
  }
}
.testimonials-section__wrapper {
  padding: 96px 130px;
}
@media only screen and (max-width: 1200px) {
  .testimonials-section__wrapper {
    padding: 75px 90px;
  }
}
@media only screen and (max-width: 768px) {
  .testimonials-section__wrapper {
    padding: 35px;
  }
}
.testimonials-section__content {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .testimonials-section__content {
    text-align: center;
    flex-direction: column;
    row-gap: 30px;
  }
}
.testimonials-section__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 223px;
}
@media only screen and (max-width: 768px) {
  .testimonials-section__title {
    max-width: none;
    font-size: 28px;
  }
}
.testimonials-section__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5%;
  max-width: 540px;
}
@media only screen and (max-width: 768px) {
  .testimonials-section__text {
    max-width: none;
  }
}
.testimonials-section .testimonials-clients {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials-section .testimonials-clients__text {
  display: inline-block;
  padding: 40px;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #ffffff;
}
@media only screen and (max-width: 992px) {
  .testimonials-section .testimonials-clients__text {
    padding: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .testimonials-section .testimonials-clients__text {
    padding: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .testimonials-section .testimonials-clients__text {
    padding: 10px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #5a98d0;
}
.footer__wrapper {
  background-color: #1f3f68;
  padding: 90px 130px;
  border-radius: 0 200px 0 0;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1200px) {
  .footer__wrapper {
    padding: 70px 80px;
  }
}
@media only screen and (max-width: 992px) {
  .footer__wrapper {
    border-radius: 0 180px 0 0;
    padding: 70px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__wrapper {
    border-radius: 0 120px 0 0;
    padding: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__wrapper {
    border-radius: 0 90px 0 0;
    padding: 30px;
  }
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5a98d0;
  padding: 0 0 96px;
}
@media only screen and (max-width: 1200px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .footer-top {
    align-items: center;
  }
}
.footer-top__content {
  max-width: 460px;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .footer-top__content {
    text-align: center;
  }
}
.footer-top__title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5%;
  font-weight: 600;
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  .footer-top__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-top__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.footer-top__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 5%;
}
@media only screen and (max-width: 576px) {
  .footer-top__text {
    font-size: 14px;
  }
}
.footer .footer-bottom {
  margin-top: 85px;
}
.footer .footer-bottom__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .footer .footer-bottom__list {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
}
@media only screen and (max-width: 992px) {
  .footer .footer-bottom__list {
    gap: 30px;
  }
}
.footer .footer-bottom__item ul li {
  color: #ffffff;
  font-weight: 500;
  margin: 14px;
  display: flex;
  gap: 18px;
}
@media only screen and (max-width: 1200px) {
  .footer .footer-bottom__item ul li {
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .footer .footer-bottom__item ul li {
    margin: 7px;
  }
}
@media only screen and (max-width: 768px) {
  .footer .footer-bottom__item ul li {
    margin: 3px;
  }
}
.footer .footer-bottom__item ul li a {
  font-weight: 400;
  color: #ffffff;
  transition: color 0.5s ease;
}
.footer .footer-bottom__item ul li a:hover {
  color: #5a98d0;
}
@media only screen and (max-width: 1200px) {
  .footer .footer-bottom__item ul li a {
    text-align: center;
  }
}
.footer .copyright {
  text-align: center;
  color: #5a98d0;
  font-size: 20px;
  margin-top: 30px;
  transition: color 0.3s ease;
}
.footer .copyright:hover {
  color: #ffffff;
}
.footer__right, .footer__left {
  width: 34%;
  background-color: #5a98d0;
}
.footer__left {
  background-color: #1f3f68;
}/*# sourceMappingURL=main.css.map */