/* GENERAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dotted $black;
  outline-offset: 3px;
}

body {
  font-family: "Gilroy", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(152, 195, 232, 0.1) 100%
  );
}

/* CONTAINER */
.container {
  max-width: $desktop;
  width: 100%;
  margin: 0 auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  padding: 15px 48px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: $white;
  background-color: $blue;
  border-radius: 10px;
  white-space: nowrap;
  transition: border 0.5s ease, background-color 0.4s ease, opacity 0.4s ease;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    background-color: $dark-blue;
    border: 1px solid $blue;
  }

  @media only screen and (max-width: $tablet) {
    padding: 12px 38px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px 32px;
    font-size: 15px;
  }
}
