.footer {
  display: flex;
  justify-content: center;
  background-color: $blue;

  &__wrapper {
    background-color: $dark-blue;
    padding: 90px 130px;
    border-radius: 0 200px 0 0;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: $desktop) {
      padding: 70px 80px;
    }

    @media only screen and (max-width: $tablet-l) {
      border-radius: 0 180px 0 0;
      padding: 70px 50px;
    }

    @media only screen and (max-width: $tablet) {
      border-radius: 0 120px 0 0;
      padding: 50px;
    }

    @media only screen and (max-width: $mobile) {
      border-radius: 0 90px 0 0;
      padding: 30px;
    }
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $blue;
    padding: 0 0 96px;

    @media only screen and (max-width: $desktop) {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }

    @media only screen and (max-width: $tablet) {
      align-items: center;
    }

    &__content {
      max-width: 460px;
      color: $white;

      @media only screen and (max-width: $tablet) {
        text-align: center;
      }
    }

    &__title {
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: 5%;
      font-weight: 600;
      margin-bottom: 30px;

      @media only screen and (max-width: $tablet-l) {
        font-size: 28px;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 24px;
        margin-bottom: 24px;
      }

      @media only screen and (max-width: $mobile) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      letter-spacing: 5%;

      @media only screen and (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }

  // Footer bottom
  .footer-bottom {
    margin-top: 85px;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: $desktop) {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
      }

      @media only screen and (max-width: $tablet-l) {
        gap: 30px;
      }
    }

    &__item {
      ul li {
        color: $white;
        font-weight: 500;
        margin: 14px;
        display: flex;
        gap: 18px;

        @media only screen and (max-width: $desktop) {
          justify-content: center;
          text-align: center;
        }

        @media only screen and (max-width: $tablet-l) {
          margin: 7px;
        }

        @media only screen and (max-width: $tablet) {
          margin: 3px;
        }
      }
      ul li a {
        font-weight: 400;
        color: $white;
        transition: color 0.5s ease;

        &:hover {
          color: $blue;
        }

        @media only screen and (max-width: $desktop) {
          text-align: center;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    color: $blue;
    font-size: 20px;
    margin-top: 30px;
    transition: color 0.3s ease;

    &:hover {
      color: $white;
    }
  }

  // Others

  &__right,
  &__left {
    width: 34%;
    background-color: $blue;
  }

  &__left {
    background-color: $dark-blue;
  }
}
