.site-header {
  padding: 40px 0;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(152, 195, 232, 0.8) 100%
  );
  z-index: 10;

  @media only screen and (max-width: $tablet-l) {
    padding: 30px 5px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 20px 5px 0;
    position: static;
    background: transparent;
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px 5px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      &__link {
        color: $blue;
        transition: 0.5s ease;

        &:hover {
          color: $dark-blue;
        }
      }
    }

    .sitenav {
      position: relative;

      &__opener {
        position: fixed;
        top: 12px;
        right: 10px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 15;
        color: $blue;

        &:hover {
          color: $dark-blue;
        }

        @media only screen and (max-width: $tablet) {
          display: inline;
        }

        @media only screen and (max-width: $mobile) {
          top: 30px;
        }
      }

      &__closer {
        display: inline;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-align: left;
        display: none;
        border-radius: 5px;
        background-color: $white;
        color: $blue;

        &:hover {
          color: $dark-blue;
        }

        @media only screen and (max-width: $tablet) {
          display: inline;
        }

        @media only screen and (max-width: $mobile) {
          display: inline;
        }
      }

      &__list {
        display: flex;
        gap: 32px;
        position: static;

        @media only screen and (max-width: $tablet) {
          flex-direction: column;
          height: 100vh;
          width: 50%;
          background-color: $dark-blue;
          position: fixed;
          top: -16px;
          padding: 44px 0 0 40px;
          gap: 14px;
          z-index: 100;
          right: -100%;
          transition: 1s ease-out;
        }

        @media only screen and (max-width: $mobile) {
          width: 65%;
          gap: 22px;
        }
      }

      &__link {
        text-transform: uppercase;
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: $dark-blue;

        &:hover::after {
          transform: scale(1);
          transform-origin: right;
        }

        @media only screen and (max-width: $tablet) {
          color: $white;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $black;
          bottom: -5px;
          left: 0;
          transition: 0.4s transform;
          transform: scale(0);
          transform-origin: left;

          @media only screen and (max-width: $tablet) {
            background-color: $blue;
          }
        }
      }
    }
  }
}
