.testimonials-section {
  background-color: $blue;
  margin-top: 192px;
  border-radius: 400px 0 0 0;

  @media only screen and (max-width: $desktop) {
    border-radius: 300px 0 0 0;
  }

  @media only screen and (max-width: $tablet-l) {
    border-radius: 200px 0 0 0;
  }

  @media only screen and (max-width: $tablet) {
    border-radius: 150px 0 0 0;
  }

  @media only screen and (max-width: $mobile) {
    border-radius: 70px 0 0 0;
  }

  &__wrapper {
    padding: 96px 130px;

    @media only screen and (max-width: $desktop) {
      padding: 75px 90px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 35px;
    }

    // @media only screen and (max-width: $mobile) {
    //   padding: 30 20px;
    // }
  }

  &__content {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 100px;

    @media only screen and (max-width: $tablet) {
      text-align: center;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    max-width: 223px;

    @media only screen and (max-width: $tablet) {
      max-width: none;
      font-size: 28px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5%;
    max-width: 540px;

    @media only screen and (max-width: $tablet) {
      max-width: none;
    }
  }

  .testimonials-clients {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
      display: inline-block;
      padding: 30px;
      color: $white;
      font-weight: 600;
      border: 1px solid $white;
    }
  }
}
